<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExerciseSuite">
    <test name="HomePageTests">
        <classes>
            <class name="tests.HomePageTests"/>
            <class name="tests.CategoryAsideTests"/>
            <class name="tests.FeatureSectionTests"/>
            <class name="tests.CartTests"/>
            <class name="tests.BrandsTests"/>
            <class name="tests.CarouselTests"/>
            <class name="tests.projectTest" />
            <class name="tests.OrderTests" />
        </classes>
    </test>
</suite>
